@font-face 
{
    font-family: 'abhaya_libreregular';
    src: url('fonts/AbhayaLibre-Regular-webfont.eot');
    src: url('fonts/AbhayaLibre-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/AbhayaLibre-Regular-webfont.woff2') format('woff2'),
         url('fonts/AbhayaLibre-Regular-webfont.woff') format('woff'),
         url('fonts/AbhayaLibre-Regular-webfont.ttf') format('truetype'),
         url('fonts/AbhayaLibre-Regular-webfont.svg#abhaya_libreregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
	margin: 0.01px;
	display: flex;
	justify-content: center;
	background-color: black;
}

p, ul
{
	color: dimgrey;
}

h1
{
	font-size: 4em;
	margin-left: 5%;
	margin-bottom: 0.1%;
}

h2
{	
	color: dimgrey;
	margin-left: 5%;
	margin-bottom: 10%;
	margin-top: 0.1%;
}

h2, h3
{
	font-size: 2em;
}

h1, h2, h3, h4
{
	font-family: "abhaya_libreregular";
}

span
{
	color: gold;
}

i
{
	margin: 10px;
}

ul
{
	list-style: none;
}

#all
{
	display: flex;
	flex-direction: column;
	background-color: white;	
}

#contact
{
	background-color: gold;
	display: flex;
	flex-direction: column;
    justify-content: space-between;   
}

.element
{
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 5px;
}

.element:last-child
{
  margin-left: 5%; 
}

.sous-element
{
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 5px;
}

.sous-block
{
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 5px;
}

.partie:first-child
{
   background: url(photo_de_moi.JPG) no-repeat;
   height: 140px;
   width: 120px;
   border-radius: 100px;
   align-self: center;
   border: 0.5px solid black;
   box-shadow: 0px 1px 5px 2px;
   margin: 10%;
} 

.partie:last-child
{
	font-size: 3em;
	text-align: center;
}

.partie
{	
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 5px;
}

.sous-partie
{
	padding-left: 40px;
	padding-right: 40px;
	text-align: justify;
}

.titre
{
	border-bottom: 1px solid yellow;
	margin-right: 5%;
	margin-left: 5%;
}

.titrebis
{
	background-color: dimgrey;
	color: gold;
	text-align: center;
}

@media all and (min-width: 576px)
{
	#all
	{
		flex-direction: row-reverse;
	}

	#conteneur
    {
        width: 55%;
    }

    #contact
    {
    	width: 45%;
    }

    .sous-element
    {  
 	    display: flex;
    }
}

@media all and (min-width: 992px)
{
	#conteneur
    {
        width: 70%;
    }

    #contact
    {
    	width: 30%;
    }
}

@media all and (min-width: 1200px)
{
	#all
	{
		max-width: 1100px;
	}
}